<section class="newsletter-social">
  <div class="container newsletter-flex">
    <div class="newsletter">
      <h4>Get Latest Update</h4>
      <h2>Newsletter Subscribe</h2>
      <p>& receive $20 coupon for first shopping</p>
      <form id="newsletterForm">
        <input type="email" placeholder="Enter Email" required />
        <button type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="social">
      <h4>Read Our News</h4>
      <h2>Follow Us</h2>
      <p>First to find out about our news and promotions</p>
      <div class="social-icons">
        <a href="#" class="social-icon"
          ><img src="icons/facebook.svg" alt="Facebook"
        /></a>
        <a href="#" class="social-icon"
          ><img src="icons/twitter.svg" alt="Twitter"
        /></a>
        <a href="#" class="social-icon"
          ><img src="icons/instagram.svg" alt="Instagram"
        /></a>
        <a href="#" class="social-icon"
          ><img src="icons/linkedin.svg" alt="LinkedIn"
        /></a>
        <a href="#" class="social-icon"
          ><img src="icons/pinterest.svg" alt="Pinterest"
        /></a>
      </div>
    </div>
  </div>
</section>
